<div ng-cloak flex layout="column" layout-fill>
  <md-content flex layout="column" layout-fill>
    <color-picker color="color" color-list="colorList" on-change="applyColor" on-click="applyColor"></color-picker>
    <div flex ng-style="style"></div>
    <div layout="row" style="height:50px" ng-style="style">
        <div flex ng-repeat="value in brightnessList" ng-style="{'background-color': getBrightness(value) }" ng-mousemove="setBrightness(value)" ng-click="setBrightness(value)" ng-touchmove="setBrightness(value)">{{value}}</div>
    </div>
    <div flex ng-style="style2" >
    </div>
    <div>
      <md-radio-group ng-model="applyType" layout-fill layout="row">
        <md-radio-button value="click">On Click</md-radio-button>
        <md-radio-button value="move">Immediantly</md-radio-button>
      </md-radio-group>
    </div>
  </md-content>
</div>