

<md-subheader class="md-no-sticky">Available Effects</md-subheader>
<div layout="row" layout-wrap>
        <md-button ng-repeat="effect in effectChoices"  flex class="md-raised md-primary" ng-click="addEffect($index)">{{effect.name}}</md-button>
</div>

<div layout="row" layout-wrap>
        <md-button flex class="md-raised md-warn" ng-click="reset()">reset all</md-button>
</div>

<md-content>
<md-list>
    <md-subheader class="md-sticky">Active Effects</md-subheader>
    <md-list-item ng-repeat="effect in activeEffects" ng-click>
        <md-checkbox ng-model="effect.paused" ng-true-value="false" ng-false-value="true" aria-label="paused"></md-checkbox>
        <h3>{{effect.name}} </h3>
        <p>{{effect.parameters}}</p>
        <md-button class="md-secondary md-accent" ng-click="deleteEffect(effect.id)" aria-label="deleteeffect">X</md-button>
    </md-list-item>
</md-list>
</md-content>