

<md-subheader class="md-no-sticky">Available Effects</md-subheader>
<div layout="row" layout-wrap>
        <md-button ng-repeat="effect in effectChoices"  flex class="md-raised md-primary" ng-click="addEffect($index)">{{effect.name}}</md-button>
</div>

<md-content>
<md-list>
    <md-subheader class="md-sticky">Active Effects</md-subheader>
    <md-list-item ng-repeat="effect in activeEffects">
        <md-checkbox ng-model="effect.paused" ng-true-value="false" ng-false-value="true" aria-label="paused"></md-checkbox>
        <h3>{{effect.name}} </h3>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
</md-list>
</md-content>