<div ng-cloak flex layout="column" layout-fill>
  <md-content ng-style="style" flex layout="column" layout-fill>
    <color-picker color="color" color-list="colorList" on-change="applyColor" on-click="applyColor"></color-picker>
    
    <div flex></div>
    <div>
	    <md-radio-group ng-model="applyType" layout-fill layout="row">
	      <md-radio-button value="click">On Click</md-radio-button>
	      <md-radio-button value="move">Immediantly</md-radio-button>
	    </md-radio-group>
    </div>
  </md-content>
</div>