<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Apply to devices</h1>
  </md-toolbar>
  <md-content layout-padding ng-controller="SidenavCtrl">
    <md-button ng-click="close()" class="md-primary" hide-gt-md>
      Hide
    </md-button>
    <div layout="column">
      <md-checkbox ng-repeat="name in devices" 
      	ng-checked="exists(name)" 
      	ng-click="toggle(name)" 
      	aria-label="Checkbox {{name}}">
        {{name}}
      </md-checkbox>
    </div>
  </md-content>
</md-sidenav>